:root {
  --quq-default: pink;
  --app-default-background-color: rgb(155, 154, 154);
  --app-front-background-color: rgb(88, 255, 177);
  --app-default-padding: 12px;
  --app-max-width: 1000px;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-link {
  text-decoration: none;
}
